:root {
    --primary-color: #f0f3fb;

}


body {
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #FBFBFB;
}

#side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    width: 200px;
    overflow-y: scroll;
    height: 100%;
    z-index: 999;
    background-color: #d5d5d4;
}

.logo {
    font-family: "Copperplate", "Courier New", fantasy;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #2a3f70;
}

.stock-button {
    display: flex;
    align-items: center;

    min-height: 60px;
    min-width: 150px;

    margin-top: 8px;
    border-radius: 8px;
    cursor: pointer;
    border: grey solid .5px;
    background: white;

}

.stock-button:hover {
    background: #f2f3f5;
}

.stock-icon {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: 0 10px 0 10px;
}

.button-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.line1,
.line2 {
    display: flex;
    justify-content: left;
    padding-right: 10px;
}

.line1 {
    color: black;
    font-size: 14px;
}

.line1::after {
    content: '\2022';
    color: rgb(128, 128, 128);
    margin-left: 2px;
}

.line2 {
    color: rgb(128, 128, 128);
    font-size: 12px;
}

.container {
    position: relative; 
    top: 0; 
    width: 100%; 
}

/*
Trying new code for switcher
 */
 .switcher {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-top: 8px;
    color: #2196F3;
}

/* Style for disabled switcher item */
.disabled {
    color: gray; /* Change the color to indicate it's disabled */
    pointer-events: none; /* Prevent clicks on the disabled item */
}

.switcher-item {
    cursor: pointer;
    padding: 6px 12px; 
    font-size: 14px;
    color: #262b3e;
    background-color: transparent;
    border: 1px solid #2196F3; 
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s; 
}

.switcher-item:hover, .switcher-item:focus {
    background-color: #f2f3f5; 
}

.switcher-item:active, .switcher-active-item {
    background-color: #e1eff9; 
    color: #262b3e;
    border-color: #1976D2; 
}

.switcher-active-item,
.switcher-active-item:hover {
    background-color: #e1eff9;
}

#tv_chart_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically and horizontally */
    width: calc(100vw - 315px);
    height: 400px;
    margin: auto;
    position: relative;
}

.chart-title {
    /* Position chart title at the top and center */
    align-self: center;
    text-align: center; /* Center text within the title */
}

.axis-label {
    /* Additional styling for axis labels */
    text-align: center; /* Center text within the label */
}

.x-axis-label {
    /* Position x-axis label to the right and vertically centered */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transform: rotate(-270deg); /* Rotate text vertically */
}

.y-axis-label {
    /* Position y-axis label at the bottom right */
    align-self: flex-end;
    margin-right: 20px; /* Add margin for separation from x-axis label */
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 250px;
}

.info-container {
    width: calc(100vw - 300px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 25px;
}

#switch {
    margin-bottom: 50px;
}

.piece-of-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-line2 {
    color: rgb(128, 128, 128);
    font-size: 14px;
}

.info-line1 {
    font-size: 18px;
}

.section-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


#loadingGraphic {
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally */
    height: 400px; /* Match the container's height */
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 75px;*/
}

#loadingGraphic img {
    height: 100%; /* Full height of the loading graphic */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain;
}

.stock-button.active {
    background-color: #e1eff9;
}