{% extends 'base.html' %}

{% block title %} Stocks {% endblock %}

{% block content %}
<div class="button-container">
    <a href="{{ url_for('fetch_data', symbol='AAPL') }}" class="btn btn-primary">Apple</a>
    <a href="{{ url_for('fetch_data', symbol='MSFT') }}" class="btn btn-primary">Microsoft</a>
    <a href="{{ url_for('fetch_data', symbol='AMZN') }}" class="btn btn-primary">Amazon</a>
    <a href="{{ url_for('fetch_data', symbol='NVDA') }}" class="btn btn-primary">NVIDIA</a>
    <a href="{{ url_for('fetch_data', symbol='GOOGL') }}" class="btn btn-primary">Alphabet Class A</a>
    <a href="{{ url_for('fetch_data', symbol='TSLA') }}" class="btn btn-primary">Tesla</a>
    <a href="{{ url_for('fetch_data', symbol='META') }}" class="btn btn-primary">Meta Platforms Class A</a>
    <a href="{{ url_for('fetch_data', symbol='GOOG') }}" class="btn btn-primary">Alphabet Class C</a>
    <a href="{{ url_for('fetch_data', symbol='BRK-A') }}" class="btn btn-primary">Berkshire Hathaway</a>
    <a href="{{ url_for('fetch_data', symbol='UNH') }}" class="btn btn-primary">UnitedHealth Group</a>
    <a href="{{ url_for('fetch_data', symbol='XOM') }}" class="btn btn-primary">Exxon Mobil </a>
    <a href="{{ url_for('fetch_data', symbol='LLY') }}" class="btn btn-primary">Eli Lilly</a>
    <a href="{{ url_for('fetch_data', symbol='JPM') }}" class="btn btn-primary">JPMorgan Chase</a>
    <a href="{{ url_for('fetch_data', symbol='JNJ') }}" class="btn btn-primary">Johnson &amp; Johnson</a>
    <a href="{{ url_for('fetch_data', symbol='V') }}" class="btn btn-primary">Visa Class A</a>
    <a href="{{ url_for('fetch_data', symbol='PG') }}" class="btn btn-primary">Procter &amp; Gamble</a>
    <a href="{{ url_for('fetch_data', symbol='MA') }}" class="btn btn-primary">Mastercard Class A</a>
    <a href="{{ url_for('fetch_data', symbol='AVGO') }}" class="btn btn-primary">Broadcom</a>
    <a href="{{ url_for('fetch_data', symbol='HD') }}" class="btn btn-primary">Home Depot</a>
    <a href="{{ url_for('fetch_data', symbol='CVX') }}" class="btn btn-primary">Chevron Corporation</a>
</div>
{% endblock %}
