
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script
            type="text/javascript"
            src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"
    ></script>
</head>
<body>

    <div id="side-menu">
        <h1 class="logo">Commerce Insight</h1>
        <!-- Apple -->
        <button class="stock-button" onclick="loadAllDataSeries('AAPL')">
            <img class = "stock-icon" src="https://logo.clearbit.com/apple.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">AAPL</div>
                <div class="line2">Apple Inc.</div>
            </div>
        </button>
        <!-- Tesla -->
        <button class="stock-button" onclick="loadAllDataSeries('TSLA')">
            <img class = "stock-icon" src="https://logo.clearbit.com/tesla.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">TSLA</div>
                <div class="line2">Tesla, Inc.</div>
            </div>
        </button>
        <!-- Alphabet Inc Class C -->
        <button class="stock-button" onclick="loadAllDataSeries('GOOG')">
            <img class = "stock-icon" src="https://logo.clearbit.com/microsoft.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">GOOG</div>
                <div class="line2">Alphabet Inc Class C</div>
            </div>
        </button>
        <!-- Amazon -->
        <button class="stock-button" onclick="loadAllDataSeries('AMZN')">
            <img class = "stock-icon" src="https://logo.clearbit.com/amazon.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">AMZN</div>
                <div class="line2">Amazon.com, Inc.</div>
            </div>
        </button>
        <!-- Nvidia -->
        <button class="stock-button" onclick="loadAllDataSeries('NVDA')">
            <img class = "stock-icon" src="https://logo.clearbit.com/nvidia.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">NVDA</div>
                <div class="line2">NVIDIA Corporation</div>
            </div>
        </button>
        <!-- Alphabet Inc Class A -->
        <button class="stock-button"  onclick="loadAllDataSeries('GOOGL')">
            <img class = "stock-icon" src="https://logo.clearbit.com/google.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">GOOGL</div>
                <div class="line2">Alphabet Inc Class A</div>
            </div>
        </button>
        <!-- Meta Platforms Inc -->
        <button class="stock-button" onclick="loadAllDataSeries('META')">
            <img class = "stock-icon" src="https://logo.clearbit.com/meta.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">META</div>
                <div class="line2">Meta Platforms, Inc.</div>
            </div>
        </button>
        <!-- Broad.com Inc -->
        <button class="stock-button" onclick="loadAllDataSeries('AVGO')">
            <img class = "stock-icon" src="https://logo.clearbit.com/broad.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">AVGO</div>
                <div class="line2">Broad.com, Inc.</div>
            </div>
        </button>
        <!-- Berkshire Hathaway Inc -->
        <button class="stock-button" onclick="loadAllDataSeries('BRK-A')">
            <img class = "stock-icon" src="https://logo.clearbit.com/bhhs.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">BRK-A</div>
                <div class="line2">Berkshire Hathaway Inc</div>
            </div>
        </button>
        <!-- Chevron Corporation -->
        <button class="stock-button" onclick="loadAllDataSeries('CVX')">
            <img class = "stock-icon" src="https://logo.clearbit.com/chevron.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">CVX</div>
                <div class="line2">Chevron Corporation</div>
            </div>
        </button>
        <!-- Home Depot Inc -->
        <button class="stock-button" onclick="loadAllDataSeries('HD')">
            <img class = "stock-icon" src="https://logo.clearbit.com/homedepot.ca" alt="Loading...">
            <div class="button-text">
                <div class="line1">HD</div>
                <div class="line2">Home Depot Inc</div>
            </div>
        </button>
        <!-- Johnson & Johnson -->
        <button class="stock-button" onclick="loadAllDataSeries('JNJ')">
            <img class = "stock-icon" src="https://logo.clearbit.com/jnj.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">JNJ</div>
                <div class="line2">Johnson & Johnson</div>
            </div>
        </button>
        <!-- JPMorgan Chase & Co. -->
        <button class="stock-button" onclick="loadAllDataSeries('JPM')">
            <img class = "stock-icon" src="https://logo.clearbit.com/jpmorganchase.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">JPM</div>
                <div class="line2">JPMorgan Chase & Co.</div>
            </div>
        </button>
        <!-- Eli Lilly and Company -->
        <button class="stock-button" onclick="loadAllDataSeries('LLY')">
            <img class = "stock-icon" src="https://logo.clearbit.com/lilly.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">LLY</div>
                <div class="line2">Eli Lilly and Company</div>
            </div>
        </button>
        <!-- Mastercard Incorporated -->
        <button class="stock-button" onclick="loadAllDataSeries('MA')">
            <img class = "stock-icon" src="https://logo.clearbit.com/mastercard.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">MA</div>
                <div class="line2">Mastercard Incorporated</div>
            </div>
        </button>
        <!-- Microsoft Corporation -->
        <button class="stock-button" onclick="loadAllDataSeries('MSFT')">
            <img class = "stock-icon" src="https://logo.clearbit.com/microsoft.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">MSFT</div>
                <div class="line2">Microsoft Corporation</div>
            </div>
        </button>
        <!-- Procter & Gamble Company -->
        <button class="stock-button" onclick="loadAllDataSeries('PG')">
            <img class = "stock-icon" src="https://logo.clearbit.com/pg.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">PG</div>
                <div class="line2">Procter & Gamble Company</div>
            </div>
        </button>
        <!-- UnitedHealth Group Incorporated -->
        <button class="stock-button" onclick="loadAllDataSeries('UNH')">
            <img class = "stock-icon" src="https://logo.clearbit.com/unitedhealthgroup.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">UNH</div>
                <div class="line2">UnitedHealth Group Incorporated</div>
            </div>
        </button>
        <!-- Visa Inc -->
        <button class="stock-button" onclick="loadAllDataSeries('V')">
            <img class = "stock-icon" src="https://logo.clearbit.com/visa.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">V</div>
                <div class="line2">Visa Inc</div>
            </div>
        </button>
        <!-- Exxon Mobil Corporation -->
        <button class="stock-button" onclick="loadAllDataSeries('XOM')">
            <img class = "stock-icon" src="https://logo.clearbit.com/exxonmobil.com" alt="Loading...">
            <div class="button-text">
                <div class="line1">XOM</div>
                <div class="line2">Exxon Mobil Corporation</div>
            </div>
        </button>
    </div>

    </div>
    <div class="content">
        <div class ="container">
            <h2 class="section-header" id="stock-title">Title</h2>
            <div id="loadingGraphic">
                <img src="../static/img/loading.gif" alt="Loading...">
            </div>
            <div id="tv_chart_container">
                <div id="chart-title" class="chart-title">Chart Title</div>
                <div id="candlestickChart">
                    <!-- Your chart will be rendered here -->
                </div>
            </div>
            <div id="x-axis-label" class="axis-label x-axis-label">X-Axis Label</div>
            <div id="y-axis-label" class="axis-label y-axis-label">Y-Axis Label</div>

            <div class="switcher">
                <span>Select Data Frequency:</span>
                <div id="interval-switcher-container">
                    <div id="interval-switcher"></div>
                </div>
            </div>
            
            <div class="switcher">
                <span>Select Trade Indicators:</span>
                <div id="field-switcher-container">
                    <div id="field-switcher"></div>
                </div>
            </div>                  
        </div>

        <h2 class="section-header">Overview</h2>
        <div class="info-container">
            <div class="piece-of-info">
                <span class="info-line1">Asset Type</span>
                <span class="info-line2" id="asset-type">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Exchange</span>
                <span class="info-line2" id="exchange">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Currency</span>
                <span class="info-line2" id="currency">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Country</span>
                <span class="info-line2" id="country">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Sector</span>
                <span class="info-line2" id="sector">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Industry</span>
                <span class="info-line2" id="industry">N/A</span>
            </div>
        </div>
        <h2 class="section-header">About</h2>
        <span class="info-line2" id="description">
            N/A
        </span>
        <h2 class="section-header">Detailed</h2>
        <div class="info-container">
            <div class="piece-of-info">
                <span class="info-line1">Earnings Per Share</span>
                <span class="info-line2" id="eps">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">EBDITA</span>
                <span class="info-line2" id="ebitda">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Fiscal Year End</span>
                <span class="info-line2" id="fye">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Gross Profit (TTM)</span>
                <span class="info-line2" id="gpttm">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Latest Quarter</span>
                <span class="info-line2" id="latest-quart">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Market Capitalization</span>
                <span class="info-line2" id="market-cap">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Operating Margin (TTM)</span>
                <span class="info-line2" id="op-mar-ttm">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Price-Earnings Ratio</span>
                <span class="info-line2" id="pe-ratio">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">PEG Ratio</span>
                <span class="info-line2" id="peg-ratio">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Profit Margin</span>
                <span class="info-line2" id="profit-margin">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Quarterly Earnings Growth (YOY)</span>
                <span class="info-line2" id="qegyoy">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Quarterly Revenue Growth (YOY)</span>
                <span class="info-line2" id="qrgyoy">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Quarterly Revenue Growth (YOY)</span>
                <span class="info-line2" id="qrgyoy">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Return On Assets (TTM)</span>
                <span class="info-line2" id="roa-ttm">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Return On Equity (TTM)</span>
                <span class="info-line2" id="roq-ttm">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Revenue Per Share (TTM)</span>
                <span class="info-line2" id="rps-ttm">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">Revenue (TTM)</span>
                <span class="info-line2" id="revenue-ttm">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">52 Week High</span>
                <span class="info-line2" id="52-wh">N/A</span>
            </div>
            <div class="piece-of-info">
                <span class="info-line1">52 Week Low</span>
                <span class="info-line2" id="52-wl">N/A</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>